.video-js {
    overflow: hidden;
}


#vjs-share-open-button, .vjs-user-inactive #vjs-share-open-button {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.vjs-user-inactive #vjs-share-open-button {
    margin-right: -50px
}

#vjs-share-open-button-info {
    background-color: rgba(29, 30, 31, 0.290196);
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    padding: 12px 5px;
    text-align: center;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 53px;
    top: 55px;
    display: none
}

#vjs-share-open-button:hover + #vjs-share-open-button-info {
    display: block
}

.vjs-share {
    background: rgba(0, 0, 0, .7);
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1112;
}

.vjs-share-active {
    display: block
}

.vjs-share-container {
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: baseline;
    align-items: baseline;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    clear: both
}

.vjs-share-title {
    font: 700 16px/1 Arial, sans-serif;
    margin: 5px 0 0 10px
}

.vjs-share-close {
    color: #fff;
    font-size: 30px;
    padding: 0;
    text-align: center;
    float: right;
    cursor: pointer
}

.vjs-share-close:hover {
    color: #9e03ff
}

.vjs-share-open {
    background-color: rgba(29, 30, 31, 0.290196);
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    padding: 10px;
    text-align: center;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 55px
}

.vjs-share-open:hover {
    color: #9e03ff;
    cursor: pointer
}

.vjs-share-url {
    font-size: 14px;
    font-weight: 400;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    width: 23%;
    text-decoration: none;
    color: #fff;
    background-color: rgba(4, 4, 4, 0.35);
    border: 1px solid rgba(0, 0, 0, 0.38);
    cursor: pointer;
    text-align: center;
    white-space: normal;
    line-height: 1.3;
    padding: 0;
    height: 44%;
    overflow: hidden
}

.vjs-share-url:hover {
    background-color: rgba(166, 0, 255, 0.35);
}

.vjs-share-img {
    height: auto;
    margin-bottom: 5px;
    width: 100%
}

.vjs-share-icon-list {
    max-width: 500px;
    margin: 0 auto;
    height: 40px;
    padding-top: 20px;
}

.vjs-share-icon-list a {
    display: inline-block;
    height: 35px;
    background-repeat: no-repeat;
    width: 35px
}

.vjs-share-code {
    max-width: 500px;
    font-size: 10pt;
    margin: 0 auto;
    line-height: 1.5;
    padding-top: 20px;
}

.vjs-share-code-textarea {
    width: 100%;
    height: 66px
}

.vjs-share-code-autoplay {
    margin: 5px
}

.vjs-share-code-autoplay label {
    cursor: pointer
}